html,
body,
#root {
    font: 0.9rem roboto;
    background: #ab8bb3c7;
    color: #1e3231;
    height: 100%;
    margin: 0;
}

.main-container {
    height: 100%;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418)), url('https://picsum.photos/1920/1080');
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    ;

    div.title {
        flex: 100%;
        text-align: center;
        color: #eaeaea;
        font-size: 2em;
        text-shadow: 1px 2px #333;
        text-transform: uppercase;
        text-decoration: underline;
    }

    .form-side,
    .output-side {
        flex: 44% 0;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        border-radius: 3%;
        overflow: auto;

    }

    .form-side {
        background-color: rgba(159, 50, 206, 0.25);

        &--title {
            color: #fff;
            text-shadow: 0 0 0 #000;
            margin-bottom: 5px;
            text-decoration: underline;
            margin-top: 10px;
        }

        .box {
            display: flex;
            justify-content: flex-start;
            align-content: flex-start;
        }

        .btn-box {
            margin-left: 5px;
        }
    }

    .output-side {
        background-color: rgba(77, 77, 77, 0.6);
        color: #fff;

        hr {
            border: 1px solid #000;
            width: 50%;
            margin: auto;
            margin-top: 5%;
            margin-bottom: 5%;
        }

        .language-html {
            min-height: 75%;
        }

        .react-json-view {
            text-shadow: 0px 0px 5px #000, 0px 0px 5px #000, 0px 0px 5px #000;
            background-color: transparent !important;
        }
    }
}