html,
body,
#root {
    font: 0.9rem roboto;
    background: #ab8bb3c7;
    color: #1e3231;
    height: 100%;
    margin: 0;
}

.main-container {
    height: 100%;
    display: flex;
    background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.418)), url('https://picsum.photos/1920/1080');
    background-size: cover;
    background-position: center;
    justify-content: space-around;
    align-items: center;

    .form-side,
    .output-side {
        flex: 44% 0;
        height: 80%;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 20px;
        border-radius: 3%;

    }

    .form-side {
        background-color: rgba(159, 50, 206, 0.3);

        &--title {
            color: #fff;
            text-shadow: 0 0 0 #000;
        }

    }

    .output-side {
        background-color: rgba(77, 77, 77, 0.3);
        color: #fff;
        text-shadow: 1px 2px 0 #000;

        .react-json-view {
            background-color: transparent !important;
        }
    }
}